<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/super_user/user_management.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

    <style>
        .dcount {
            margin-top: 35px;
        }

        .more_in {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;

}

.emer {
    margin-top: 40px;
}
    </style>
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <!-- <img src="logo.png" alt="logo" width="100px"> -->
                
                <img src="img/logo.png">
            </div>

            <div class="links">
                <ul>
                    <!-- <li><a class="nav_link">Our Doctors</a></li>
                    <li><a class="nav_link">Our Specialities</a></li>
                    <li><a class="nav_link"  href="appointment.html">Book an Appointment</a></li>
                    <li><a class="nav_link">Know Yourself</a></li>
                    <li><a class="nav_link">Treatment Enquiries</a></li> -->
                    <!-- <li><a href="">Treatment Enquiries</a></li> -->
                    <!-- <li class="menus"> <i class="fa-solid fa-bars"></i> </li> -->

                    <li><a class="nav_link" href="../doctor/index.html">Our Doctors</a></li>
                    <li><a class="nav_link" href="../specialities/index.html">Our Specialities</a></li>
                    <li><a class="nav_link"  href="/appointment">Book an Appointment</a></li>
                    <li><a class="nav_link" href="/know_yourself">Know yourself</a></li>
                    <li><a class="nav_link" href="/treatment">Treatment Enquiries</a></li>
                    <li><a href="/pat_upcomingAppoint">Upcoming Appointments</a></li>
                    <li class="user"><i class="fa-solid fa-user" onclick="display()"></i></li>

                   
                    
                    
                </ul>
            </div>
            
        </nav>
    </header>

    <div class="empty"></div>

    <div id="side">
        <div class="appoint">
            <li class="user user_prof"><i class="fa-solid fa-user prof"></i></li>
            <span id="username">
                <% if(locals.username) { %>
                    <%= username %>
                    <% } %>
            </span>
        </div>

        <div class="appointments_list">
            
            <a href="/pat_upcomingAppoint" class="appointments_list">Upcoming Appointments</a>
        </div>

        <div class="appointments_list">
            <a href="/admin_management" class="appointments_list">Dashboard</a>
        </div>

        <div class="appointments_list logout">
            <a href="/user_logout" class="appointments_list">Log Out</a>
        </div>

        

        
            </div>

            <!-- Content starts from here -->

            

            <!-- <a href="/super_pat"> -->
                <div class="more_in">

                    <!-- <div class="emer">
                        Patients Count
                        <span id="pcount">
                            <%# pcount %>
                        </span>
                    </div> -->

                    <a href="/super_pat">
                        <div class="emer">
                            Patients Count
                            <span id="pcount">
                                <%= pcount %>
                            </span>
                        </div>
                    </a>
            
                    <!-- <a href="/super_doc"> -->
                        <a href="/admin_doc">
                    <!-- <div class="feed"> -->
                        <!-- <i class="fa-solid fa-comments"></i>  -->
                        <!-- <p>Feedback and Greivance Support</p> -->
                        <!-- Doctors Count -->

                            <!-- <div class="emer"> -->
                                

                                <div class="emer">
                            <p>Doctors Count</p>
                        <div class="dcount">
    
                            <span id="dcount">
                                <%= dcount %>
                            </span>
                        </div>
                    <!-- </div> -->
                        <!-- </a> -->
                        <!-- <p>Doctors Count</p>
                        <div class="dcount">
    
                            <span id="dcount">
                                <%# dcount %>
                            </span>
                        </div> -->
                    </div>
                </a>

                    <a href="/super_app">
                        <div class="emer">
                            Appointment Count
                            <span id="pcount">
                                <%= acount %>
                            </span>
                        </div>
                    </a>

                    <br>
                    <div class="sug">

                    <a href="/suggestions">
                        <div class="emer">
                            Suggestions Count
                            <span id="pcount">
                                <%= scount %>
                            </span>
                        </div>
                    </a>
                </div>
                </div>
            <!-- </a> -->

            <div class="more_in">

                <!-- <a href="/super_app">
                    <div class="emer">
                        Appointment Count
                        <span id="pcount">
                            <%= acount %>
                        </span>
                    </div>
                </a> -->
            </div>
                <!-- <div class="emer">
                    Appointment Count
                    <span id="pcount">
                        <%# acount %>
                    </span>
                </div> -->
        
                <!-- <div class="feed">
                   
                    <p>Doctors Count</p>
                    <div class="dcount">

                        <span id="dcount">
                            <%# acount %>
                        </span>
                    </div>
                </div> -->
            

            <script
 src="https://kit.fontawesome.com/37728e5045.js" crossorigin="anonymous"></script>
 <script>
 

 var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 3){
        counter = 1;
      }
    }, 3000);

    function display() {
    const ele = document.getElementById('side');
    console.log(ele)
   
    if(ele.style.display === 'block') {
        ele.style.display = 'none';
    }
    else {
        ele.style.display = 'block';
        ele.classList.add('op');
    }
    
}



 
</script>
    
</body>
</html>